@font-face {
  font-display: swap;
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-VariableFont_wght.woff2") format("woff2"),
    url("../assets/fonts/Manrope-VariableFont_wght.woff") format("woff");
  font-style: normal;
}
